.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius:  0.25rem;
    transition:  color .15s ease-in-out, background-colot .15s ease-in-out, border-color .15s ease-in-out, box-shadow;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    margin-top: 2px;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin-left: 2px;
    margin-top: 2px;
}